{% extends "main/base.html" %}
{% load static %}
{% block title %}View List{% endblock %}

{% block content %}
	<h1>{{ls.name}}</h1>
	<form method="post" action="#">
		{% csrf_token %}
		{% for item in ls.item_set.all %}
		<div class="input-group mb-3">
				<div class="input-group-text">
					{% if item.complete == True %}
						<input type="checkbox" value="clicked" name="c{{item.id}}" checked>
					{% else %}
						<input type="checkbox" value="clicked" name="c{{item.id}}">
					{% endif %}
				</div>
			<input type="text" value="{{item.text}}" class="form-control">
		</div>
		{% endfor %}

		<div class="input-group mb-3">
				<button type="submit" name="newItem" value="newItem" class="btn btn-dark">Add Item</button>
			<input type="text" name="new">
        </div>
        <button type="submit" name="save" value="save" class="btn btn-dark">Save</button>
	</form>
{% endblock %}